version: '2'
services:
  nginx:
    image: nginx:1.12-alpine
    ports:
      - "80:80"
    volumes:
      - ./conf/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./conf/nginx/vhost.conf:/etc/nginx/conf.d/vhost.conf
    volumes_from:
      - code
    links:
      - app
    depends_on:
      - code
      - app
    networks:
      - project_net
  app:
    image: daocloud.io/woogle/yii2-docker-env-php
    working_dir: /app
    volumes:
      - ./conf/php/php.ini:/usr/local/etc/php/php.ini
    volumes_from:
      - code
    expose:
      - 9000
    links:
      - db
    depends_on:
      - code
      - db
    environment:
      XDEBUG_CONFIG: "idekey=PHPSTORM remote_enable=On remote_connect_back=On"
    networks:
      - project_net
  code:
    image: busybox:latest
    volumes:
      - ../app:/app
    entrypoint: tail -f /dev/null
    networks:
      - project_net
  db:
    image: mysql:5.7
    volumes:
      - /var/lib/mysql
      - ./conf/mysql/my.cnf:/etc/mysql/my.cnf
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: yii2_app
      MYSQL_USER: appus
      MYSQL_PASSWORD: apppw
    networks:
      - project_net
networks:
  project_net:
    ipam:
      driver: default
      config:
        - subnet: 135.135.135.0/24
